<html lang="en">

		<title>View Book</title>
	</head>

	<body>
		<ul>

			<li>
				<div>
					<p>Title: ${book.title}</p>
					<p>Author: ${book.author}</p>
					<p>Status: ${book.status}</p>

					<p><a href="edit">Edit</a></p>
					<p>
						<form method="POST" action="/${book.id}/delete">
						<input type="submit" value="Delete">
						</form>
					</p>
				</div>	
				<div>
					<p><a href="#">Add Journal Entry</a></p>
					<p><a href="booklist">Return to Booklist</a></p>
				</div>
			
			</li>

		</ul>
		</ul>
	</body>
</html>
