<body>
	<div class="container">
		<form align="center" method="POST">
			<p>
			<h2>Become a Member!</h2>
			</p>
			<div class="form-group">
				<label>
					First Name:
					<input name="firstname" type="text" placeholder="Enter first name" autofocus />
				</label>
			</div>
			</br>
			<div class="form-group">
				<label>
					Last Name:
					<input name="lastname" type="text" />
				</label>
			</div>
			</br>
				<div class="form-group">
				<label>
					Email:
					<input name="email" type="text" />
				</label>
			</div>
			</br>
			<div class="form-group">
				<label>
					Username:
					<input name="username" type="text" />
				</label>
			</div>
			</br>
			<div class="form-group">
				<label>
					Password:
					<input name="password" type="password" />
				</label>
			</div>
			</br>
			<div class="form-group">
				<input type="submit" value="Submit" />
			<p><a href="/">Home</a></p>
		</form>
	</div>
</body>

</html>