.App {
    text-align: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    color: goldenrod;
}

body, html {
    height: 100%;
}

.jumbotron{
    background-image: url('./components/images/login.jpg');
    background-size: cover;
    height: 100%;
}

/* .bg {
    background-image: url("./components/images/login.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } */

.flex {
    text-align: left;  
}

.form {
    overflow: hidden;
    position: top;
    color: goldenrod;
    font-weight: 500;
}

.form-group{
    color: purple;
    font-style: bold;
    font-weight: 1000;
    font-family: 'Julius Sans One', sans-serif;
    border-radius: 25px;

}

.button{
    border-radius: 25px;
}
.login-form{
    
    font-weight: 1000;
    color: goldenrod;
    font-family: 'Julius Sans One', sans-serif;
    position: absolute; 
    align-items: right;

}
.input{
    background-color: none;

}

.h1{
    font-weight: 1000;
    color: goldenrod;
}

.h2{
    font-weight: 1000;
    color: goldenrod;
}

.heading{
    font-weight: 1000;
    color: goldenrod;
}

.nav-dropdown {
    font-family: 'Julius Sans One', sans-serif;
    color: purple;
    border-radius: 25px;

}


/* .h1.display-1 {
    margin: 0px 0px 0px;
} */

/* .container{
   
    /* height: 100vh; */
   
/* }  */

/* .mask {
    font-weight: bolder;
    font-family: 'Roboto';
    font-size: 2000px;
} */
.td{
    color: goldenrod;
}
/* .bookshelf { */
    /* background-image:  */
    /* background-size: cover;
    background-position: top;
    min-height: 100%;
    height: 100vh;
    position: relative;
    font-weight: bolder;
    font-family: 'Roboto';
    font-size: 2000px; */


/* .App-header {
    
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 5vmin);
    color: white;
    padding: 20px;
    cursor: pointer;
   
} */

.display-1{
    
    font-family: 'Julius Sans One', sans-serif;  
    font-weight: 1000;
    font-size: 15em;
    position: relative;
    bottom: 0;
    color: goldenrod;
    margin: 0px 0px 0px;
}


/* * { */
    /* box-sizing: border-box; */
    /* color: indigo;
    font-weight: 600;
    font-family: 'Julius Sans One', sans-serif; 
} */
  
  
/* .App-header h2 {
    margin: 0;
} */
/*   
.search {
    justify-content: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
} */
  
input[type="submit"] {
    padding: 5px;
    background-color: rgb(141, 72, 206);
    /* color: whitesmoke; */
    font-family: 'Julius Sans One', sans-serif;  
    border-radius: 25px;
    border: 1px solid white;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
    
}
  
/* input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
}
  
.search > input[type="text"] {
    width: 40%;
    min-width: 170px;
    color: #282c34;
}
   */

  