.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	z-index: 1;
	background-image: url('./components/images/login.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.welcome {
	/* border-top: 2px solid black; */
	z-index: 2;
	max-width: 315px;
	max-height: 700px;
	display: flex;
	font-weight: 9000px;
	align-items: left;

	/* background-color: grey; */
	background-size: 225px;
	background-repeat: no-repeat;
	background-blend-mode: luminosity;
	background-position-x: 65px;
	background-position-y: 85px;
	background-image: url('./components/images/zen.png');
	color: goldenrod;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 6em;
	letter-spacing: -1px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}
.welcome2 {
	/* border-top: 2px solid black; */
	display: flex;
	font-style: bold;
	color: goldenrod;
	border-radius: 200px;
	border-width: thin;
	background-color: darkcyan;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 8em;
	letter-spacing: -2px;

	border-bottom: 2px solid black;
}

ol,
ul {
	display: flex;
	list-style: none;
	margin-bottom: 0%;
}

.li {
	align-items: center;
	line-height: normal;
}

.ul {
	align-items: center;
	line-height: normal;
}

.h1 {
	display: flex;
	font-style: bold;
	color: goldenrod;
	border-radius: 200px;
	border-width: thin;
	background-color: darkcyan;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 8em;
	letter-spacing: -2px;
}

.nav {
	display: flex;
}
.input {
	background-color: transparent;
}
.main {
	display: flex;
}

.separate {
	flex-direction: column;
	justify-content: right;
}

.login-form {
	display: flex;
	font-weight: 1000px;
	font-style: bold;
	font-family: 'Julius Sans One', sans-serif;
}

.tagline {
	display: flex;
	color: black;
	align-items: center;
	font-weight: 9000px;
	font-style: bold;
	font-family: 'Julius Sans One', sans-serif;
}

.App-link {
	color: #61dafb;
}

/* .btn-floating{
  font-size: 30em;
} */

.maintitle {
	display: flex;
	font-style: bold;
	color: goldenrod;
	border-radius: 200px;
	border-width: thin;
	background-color: darkcyan;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 5em;
	letter-spacing: -3px;
}

.maintitle2 {
	display: flex;
	font-style: bold;
	color: goldenrod;
	border-radius: 200px;
	border-width: thin;
	background-color: darkcyan;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 3em;
	letter-spacing: -3px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
