<html>
<body>	
	<div class="container">
		<form align="center" method="POST">
			<div class="form-group">
				<label for="username">Username</label>
				<input
					name="username"
					type="text"
					class="form-control"
					id="username"
					placeholder="Enter username"
					autofocus
				/>
			</div>
		</br>
			<div class="form-group">
				<label for="password">Password</label>
				<input
					name="password"
					type="password"
					class="form-control"
					id="password"
					placeholder="Enter password"
				/>
			</div>
		</br>
			<input type="submit" class="submit-button" value="Submit">
	</br>
			<p><a href="#">Forgot password?</a></p>
			<p><a href="new">Create an Account</a></p>
		</form>
		</div>

	</div>
</body>	
</html>
